nav{
    background-color: #000;
    width: 100%; 
    height: 80px; 
}
nav .brafe{
    text-align: left;
    margin-left: 6em;

}
nav ul li{
    display: inline-block;
    margin: -20px 5px;
    font-size:1.125em;
    
}
nav ul{
    float: right;
    margin-top: 2em
}
nav a{
    color:white;
    text-decoration:none;
}
nav a:hover{
    text-decoration: underline;
    transition: 0.3;
}
.brafe{

    
}

.home h2{
    color: white;
    position: absolute;
    top: 1em;
    margin-left: 4em;
    font-size: 2em;
    margin-top: -22.5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.home .box p{
    color: white;
    position:absolute;
    top: 4em;
    font-size: 1em;
    margin-left: 22em;
    margin-top: 240px;
    font-family: serif;

}
.home{
    background-image: url("../img/bg-intro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 16% 16%;
    color:var(--branco-secundario);
    text-align:center;
    font-family:"titan";
}
.box h1{
    font-size: 3em;
    margin: 0 auto;
    width: 59%;
    letter-spacing: 3px;
    color: white;
    text-align: center;
    margin-top: -3em;
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase

}
.pt2 .mistura h2{
    font-size:2em;
    text-align: center;
    margin:0 auto;
    margin-top: 1em;
}
.pt2 .mistura .cafe1{  
    margin-top: 3em;
    margin-left: 14em;
    
    
}
.pt2 .mistura .cafe2{
    margin-left: 1em;
}
.pt2 .at .amor{
    text-align: center;
    margin:0% 17%;
    width:82px;
    height:18px;
    border: 17px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: black; /* cores: topo, direita, inferior, esquerda */

    

 }
 .pt2 .at .perfeição{
    text-align: center;
    margin:-4% 52%;
    width:82px;
    height:18px;
    border: 17px solid; /* As 4 bordas sólidas com 25px de espessura */
    border-color: black; /* cores: topo, direita, inferior, esquerda */
 }
 .pt2 .at p{
     
     width: 22%;
     text-align: center;
     margin: 57px auto;
     font-family: serif;
 }
 .background{
     background-color: darkgrey;
     width: 100%; 
     height: 25em; 
    
 }
 .pt3 .circulo1{
    background-color: saddlebrown;
	width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: -25% 21%;
}
.pt3 .circulo2{
    background-color: sandybrown;
	width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 18% 46%;
}
.pt3 .circulo3{
    background-color: yellow;
	width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: -25% 72%;
}
.paulista{
    margin: 14em 12em;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.carioca{
    margin: -15em 26em;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.mineiro{
    margin: 14em 41em;
    font-size: 1.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.t1{

}
.t2{
   
}
.t3{
 
}







